# Application settings
APP_NAME=Educational Content Analysis System
DEBUG=True
SECRET_KEY=your_secret_key_here
ENVIRONMENT=development

# API Keys
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/credentials.json
GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_API_KEY=your-google-api-key
OPENAI_API_KEY=your-openai-api-key

# File paths
INPUT_FOLDER=data/input
PROCESSED_FOLDER=data/processed
OUTPUT_FOLDER=data/output

# Database settings
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/education_content
MONGODB_URI=mongodb://localhost:27017/e_shiksha
MONGODB_DB_NAME=e_shiksha

# Web server settings
HOST=0.0.0.0
PORT=8000

# Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=sanjaycaed31@gmail.com
SMTP_PASSWORD=mneh wwyd cdcn cfny
SENDER_EMAIL=sanjaycaed31l@gmail.com
SENDER_NAME=E-Shiksha

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT=firebase-service-account.json
